process {
    maxForks = 15
    executor = 'local'
    withName: 'binfile' {
      containerOptions = "-v ${projectDir}/scripts/process_file:/app/process_file:ro"
    }
    withName: 'sample' {
      containerOptions = "-v ${projectDir}/scripts/process_file:/app/process_file:ro"
    }
}
docker {
    enabled = true
}