process {
    maxForks = 15
    executor = 'local'
    withName: 'binfile' {
      containerOptions = "-v ${projectDir}/scripts/process_file:/app/process_file:ro"
    }
    withName: 'sample' {
      containerOptions = "-v ${projectDir}/scripts/process_file:/app/process_file:ro"
    }
    withName: 'create_space' {
     containerOptions = "-v ${projectDir}/scripts/create_space.py:/app/create_space.py:ro " +
                           "-v ${projectDir}/scripts/pyfileconverter.cpython-311-x86_64-linux-gnu.so:/app/pyfileconverter.cpython-311-x86_64-linux-gnu.so:ro"
    }
    withName: 'do_space' {
     containerOptions = "-v ${projectDir}/scripts/do_space.py:/app/do_space.py:ro " +
                           "-v ${projectDir}/scripts/pyfileconverter.cpython-311-x86_64-linux-gnu.so:/app/pyfileconverter.cpython-311-x86_64-linux-gnu.so:ro"
    }
    withName: 'density' {
      containerOptions = "-v ${projectDir}/scripts/density:/app/density:ro"
    }
}
docker {
    enabled = true
}